{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select name="symbol">
                {% for stock in symbols %}
                    <option>{{stock}}</option>
                {% endfor %}
            </select>
            <input class="form-control" name="shares" placeholder="How many" type="number"/>
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
